<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permissão para gravar áudio.
        Necessária para capturar entrada de áudio do microfone em dispositivos com nível de API menor que 33. -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <!-- Permissões para executar um serviço em primeiro plano (foreground service). -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <!-- Permissão específica para execução de um serviço em primeiro plano relacionado à reprodução de mídia. -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />

    <!-- Permissão para modificar as configurações de áudio.
         Concedida automaticamente no momento da instalação, não requer solicitação em tempo de execução (runtime).
         Permite que o aplicativo modifique as configurações de áudio globais, por exemplo, o equalizador. -->
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <!-- Permissão para ler áudio de mídia.
         Necessária para acessar arquivos de áudio em dispositivos com nível de API 33 e superior. -->
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <!-- Permissão para ler contatos.
         Necessária para acessar contatos e importa-los como perfil. -->
    <uses-permission android:name="android.permission.READ_CONTACTS"/>

    <!-- Permissão personalizada para o serviço de mensagens do aplicativo. -->
    <uses-permission android:name="com.example.emixerapp.permission.MESSAGE_SERVICE" />


    <!-- Definição da permissão personalizada para o serviço de mensagens. -->
    <permission
        android:name="com.example.emixerapp.permission.MESSAGE_SERVICE"
        android:label="Access Message Service"
        android:description="@string/message_service_description"
        android:protectionLevel="normal" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat"
        tools:targetApi="31">
        <!-- Declaração do serviço de mensagens. -->
        <service
            android:name="com.example.mediachallenger.MessageService"
            android:exported="true"
            android:permission="com.example.mediachallenger.permission.MESSAGE_SERVICE"
            android:foregroundServiceType="mediaPlayback">
            <intent-filter>
                <!-- Ação que o serviço pode realizar. -->
                <action android:name="com.example.emixerapp.action.FOREGROUND_SERVICE" />
            </intent-filter>
        </service>
        <activity
            android:name="com.example.mediachallenger.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>